.teamintro-main {
    width: 10%;
    height: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    margin-left: 5%;
    background-color: rgb(247, 247, 247);
    /* border: 1px solid rgb(177, 176, 176); */
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.teamintro-title {
    height: 15%;

}

.teamintro-title-font {
    width: 20%;
    font-size: 50px;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    border-bottom: 1px solid;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.teamintro-middle {
    height: 60%;
    border-radius: 5px;
    position: relative;
}

.teamintro-middle::before {
    content: "";
    /* 가상 요소에 내용 추가 */
    top: -20;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../img/logo.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    /* 반투명 설정 */
    z-index: 1;
    border-radius: 5px;
}

.teamintro-middle-content {
    position: relative;
    z-index: 2;
    padding-top: 0px;
    font-size: 25px;
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 1;
}

/* --------------공통점-------------- */

.teamintro-bottom1 {
    height: 30%;
    width: 50%;
    float: left;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    transition: background-color 0.3s;
    background-color: #141c1d;
    color: white;
    cursor: pointer;
}

.teamintro-bottom1-font {
    padding-top: 10%;
    font-size: 25px;
}


.teamintro-bottom1-text2 {
    font-size: 25px;
    opacity: 0;
}

.teamintro-bottom1:hover {
    background-color: #141c1d;
    color: white;
}

.teamintro-bottom1:hover .teamintro-bottom1-text1 {
    opacity: 0;
}

.teamintro-bottom1:hover .teamintro-bottom1-text2 {
    opacity: 1;

}

.teamintro-bottom1-text1,
.teamintro-bottom1-text2 {
    width: 100%;
    position: absolute;
    transition: opacity 0.3s;
}

/* --------------약속-------------- */

.teamintro-bottom2 {
    height: 30%;
    width: 50%;
    float: left;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    transition: background-color 0.3s;
    background-color: #141c1d;
    color: white;
    cursor: pointer;
}

.teamintro-bottom2-font {
    padding-top: 10%;
    font-size: 25px;
}


.teamintro-bottom2-text2 {
    font-size: 25px;
    opacity: 0;
}

.teamintro-bottom2:hover {
    background-color: #141c1d;
    color: white;
}

.teamintro-bottom2:hover .teamintro-bottom2-text1 {
    opacity: 0;
}

.teamintro-bottom2:hover .teamintro-bottom2-text2 {
    opacity: 1;
}

.teamintro-bottom2-text1,
.teamintro-bottom2-text2 {
    width: 100%;
    position: absolute;
    transition: opacity 0.3s;
}