<<<<<<< HEAD
.intro {
  background-color: green;
=======
.total {
>>>>>>> 8a0b22030eeda345d2daf3a338346c72658003ba
  width: 1920px;
  height: 1080px;
}

.white {
  height: 30px;
  background-color: white;
}

.intro-top {
  height: 330px;
  background-color: yellow;
}

.intro-mid {
  height: 330px;
  background-color: blue;
}

.intro-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  height: 330px;
  background-color: skyblue;
}

.intro-title {
  text-align: center;
}

.image-introduce {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  background-color: green;
  height: 280px;
}

.intro-image {
  width: 500px;
  height: 275px;
  background-color: grey;
  border-radius: 10px;
}

.intro-duce {
  width: 500px;
  height: 275px;
  background-color: grey;
  border-radius: 10px;
}

.card {
  width: 330px;
  height: 300px;
  border-radius: 10px;
}

.card-img-top {
  width: 300px;
  height: 160px;
  border-radius: 7px;
}

.bottom-image {
  width: 500px;
  height: 330px;
  background-color: grey;
  border-radius: 7px;
}

.bottom-intro {
  width: 500px;
  height: 330px;
  background-color: grey;
  border-radius: 7px;
}