/* 슬라이더 기능 테스트를 위해서 작성했었던 코드입니다.
.slide:nth-child(1) {
    background-color: red;
}
.slide:nth-child(2) {
    background-color: green;
}
.slide:nth-child(3) {
    background-color: blue;
}
.slide:nth-child(4) {
    background-color: yellow;
}
.slide:nth-child(5) {
    background-color: purple;
}
*/

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 500%; /* 슬라이드가 5개여서 500%입니다! */
}

.slide {
    min-width: 100%;
    height: 100vh;
}

/* 버튼 설정 */
.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    width: 50px; 
    height: 50px; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6; 
    transition: opacity 0.3s, box-shadow 0.3s; 
}

.button:hover {
    opacity: 1; 
}

#prevBtn {
    background-image: url('../img/prev.png');
}

#nextBtn {
    background-image: url('../img/next.png');
}

/* 숨김 클래스 */
.hidden {
    visibility: hidden;
}