.albumtop{
    width: 1000px;
    

    background-color: blue;
}
.albumtitle{
    
    text-align:center;
}

.mytitle{
    width: 1000px;
    height: 100%;
    background-color: green;
}
.mytable{
    background-color: black;
    width: 1000px;
}

.mycards{
    width: 900px;
    margin: 0px 100px 0px 100px ;
    background-color: orange;
}

.blockbtn{
    width: 100px;
    height: 200px;
   background-color: red;
}

