.albumtop{
    width: 100%;
    

    background-color: blue;
}
.albumtitle{
    
    text-align:center;
}

.mytitle{
    width: 100%;
    height: 5%;
    background-color: green;
}
.mypostingbox {
    width: 500px;
    margin: 30px auto 0px auto;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px blue;
    border-radius: 5px;
    background-color: red;
}

#postingbtn{
    width: 450px;
    margin: 5px 0 5px 5px ;
}
.mytable{
    background-color: black;
    width: 100%;
}

.mycards{
    width: 100%;

    background-color: orange;
}
.card{
    width: 200px;
}

.blockbtn{
    width: 100px;
    height: 200px;
   background-color: red;
}


/*//////////// hdg 작업 /////////////*/

.hdg-album-main {
    width: 11%;
    background-color: pink;
    margin-left: 4%;
}

.hdg-photo-toggle-area {
    background-color: skyblue;
    width: 250px;
    height: 265px;
    float: left;
    text-align: center;
}

.hdg-photo-toggle-area button {
    margin-top: 100px;
}

/* ///////////////////////////////// */